<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-default">
    <a class="navbar-brand" href="#">Króliki! :)</a>
    
       
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav mr-auto">
            
            <li class="nav-item">
                <a [routerLink]="['/']"class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/fileupload']"class="nav-link" href="#">Upload</a>
            </li>
            
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a [routerLink]="['/login']"class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/register']"class="nav-link" href="#">Register</a>
            </li>
           <li class="nav-item">
               <a (click)="onLogoutClick()"  href="#" class="nav-link">Logout</a>
           </li>
            
        </ul>
        
    </div>
</nav>